
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMetricsTimerLabel" translate="h2HellUiApp.metricsTimer.home.createOrEditLabel">Create or edit a Metrics Timer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.metricsTimer.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.metricsTimer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="h2HellUiApp.metricsTimer.timeExec" for="field_timeExec">Time Exec</label>
            <input type="number" class="form-control" name="timeExec" id="field_timeExec"
                    ng-model="vm.metricsTimer.timeExec"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="h2HellUiApp.metricsTimer.cpuLoadSystem" for="field_cpuLoadSystem">Cpu Load System</label>
            <input type="number" class="form-control" name="cpuLoadSystem" id="field_cpuLoadSystem"
                    ng-model="vm.metricsTimer.cpuLoadSystem"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="h2HellUiApp.metricsTimer.cpuLoadProcess" for="field_cpuLoadProcess">Cpu Load Process</label>
            <input type="number" class="form-control" name="cpuLoadProcess" id="field_cpuLoadProcess"
                    ng-model="vm.metricsTimer.cpuLoadProcess"
                     />
        </div>

        <div class="form-group">
            <label translate="h2HellUiApp.metricsTimer.log" for="field_log">Log</label>
            <select class="form-control" id="field_log" name="log" ng-model="vm.metricsTimer.log" ng-options="entryPointParameters as entryPointParameters.id for entryPointParameters in vm.entrypointparameters track by entryPointParameters.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
