<div>
    <h2 data-translate="h2HellUiApp.metricsTimer.home.title">Metrics Timers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="metrics-timer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="h2HellUiApp.metricsTimer.home.createLabel">
                        Create new Metrics Timer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateIncoming"><span data-translate="h2HellUiApp.metricsTimer.dateIncoming">Date Incoming</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parameters"><span data-translate="h2HellUiApp.metricsTimer.parameters">Parameters</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeExec"><span data-translate="h2HellUiApp.metricsTimer.timeExec">Time Exec</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpuLoadSystem"><span data-translate="h2HellUiApp.metricsTimer.cpuLoadSystem">Cpu Load System</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpuLoadProcess"><span data-translate="h2HellUiApp.metricsTimer.cpuLoadProcess">Cpu Load Process</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entryPoint.id"><span data-translate="h2HellUiApp.metricsTimer.entryPoint">Entry Point</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="metricsTimer in vm.metricsTimers track by metricsTimer.id">
                    <td><a ui-sref="metrics-timer-detail({id:metricsTimer.id})">{{metricsTimer.id}}</a></td>
                    <td>{{metricsTimer.dateIncoming | date:'medium'}}</td>
                    <td>
                        <a ng-if="metricsTimer.parameters" ng-click="vm.openFile(metricsTimer.parametersContentType, metricsTimer.parameters)" data-translate="entity.action.open">open</a>
                        <span ng-if="metricsTimer.parameters">{{metricsTimer.parametersContentType}}, {{vm.byteSize(metricsTimer.parameters)}}</span>
                    </td>
                    <td>{{metricsTimer.timeExec}}</td>
                    <td>{{metricsTimer.cpuLoadSystem}}</td>
                    <td>{{metricsTimer.cpuLoadProcess}}</td>
                    <td>
                        <a ui-sref="entry-point-detail({id:metricsTimer.entryPoint.id})">{{metricsTimer.entryPoint.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="metrics-timer-detail({id:metricsTimer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="metrics-timer.edit({id:metricsTimer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="metrics-timer.delete({id:metricsTimer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
