
<div>
    <h2><span translate="h2HellUiApp.entryPointParameters.detail.title">Entry Point Parameters</span> {{vm.entryPointParameters.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="h2HellUiApp.entryPointParameters.dateIncoming">Date Incoming</span></dt>
        <dd>
            <span>{{vm.entryPointParameters.dateIncoming | date:'medium'}}</span>
        </dd>
        <dt><span translate="h2HellUiApp.entryPointParameters.parameters">Parameters</span></dt>
        <dd>
            <div ng-if="vm.entryPointParameters.parameters">
                <a ng-click="vm.openFile(vm.entryPointParameters.parametersContentType, vm.entryPointParameters.parameters)" translate="entity.action.open">open</a>
                {{vm.entryPointParameters.parametersContentType}}, {{vm.byteSize(vm.entryPointParameters.parameters)}}
            </div>
        </dd>
        <dt><span translate="h2HellUiApp.entryPointParameters.entryPoint">Entry Point</span></dt>
        <dd>
            <a ui-sref="entry-point-detail({id:vm.entryPointParameters.entryPoint.id})">{{vm.entryPointParameters.entryPoint.pathClassMethodName}}</a>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
