
<div id="main-wrapper">
	<div style="font-size: 14px">
		By default the agent H2H send only the time execution > 2000ms.<br/>
		You can custom this value by changing in config.properties the key higherTimer.
	</div>
	<div class="alert alert-danger"
		 style="width: 800px; margin-left: 0px; margin-top: 10px;"
		 ng-show="messageConfig !=null">{{messageConfig}}</div>

	<div class="col-lg-3 col-md-3">
		<div>
			<a class="btn" href="" ng-click="updateToken()" style="font-size:18px">
				<i class="fa fa-refresh"></i> Update</a>
			<a class="btn" href="" ng-click="launchAnalysis(ms.token)"  style="font-size:18px">
				<i class="fa fa-eye"></i> Launch analysis</a>
		</div>
	</div>
</div>
	<div ng-show="metricsList.length > 0">
		<div class="input-group">
			<span class="input-group-addon ">Filter</span> <input id="filter"
				type="text" class="form-control" placeholder="Type here...">
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th style="text-align: center; width: 250px;">Method input</th>
					<th style="text-align: center;">Token</th>
					<th style="text-align: center; width: 300px;">Date</th>
					<th style="text-align: center; width: 300px;">Time Exec</th>
					<th style="text-align: center; width: 300px;">Cpu System</th>
					<th style="text-align: center; width: 300px;">Cpu Process</th>
					<th style="text-align: center; width: 300px;">Parameters</th>
				</tr>
			</thead>
			<tbody class="searchable">
				<tr ng-repeat="metrics in metricsList">
					<td style="text-align: center;">{{metrics.pathClassMethodName}}</td>
					<td style="text-align: center;">{{metrics.token}}</td>
					<td style="text-align: center;">{{metrics.dateIncoming}}</td>
					<td style="text-align: center;">{{metrics.timeExec}}</td>
					<td style="text-align: center;">{{metrics.cpuLoadSystem}}</td>
					<td style="text-align: center;">{{metrics.cpuLoadProcess}}</td>
					<td style="text-align: center;"><a class="btn" ng-click="popupParameters(metric.parameters)">Parameters</a></td>
				</tr>
			</tbody>
		</table>
	</div>



<script type="text/javascript">
	$(document).ready(function() {

		(function($) {

			$('#filter').keyup(function() {

				var rex = new RegExp($(this).val(), 'i');
				$('.searchable tr').hide();
				$('.searchable tr').filter(function() {
					return rex.test($(this).text());
				}).show();

			})

		}(jQuery));

	});
</script>