
<form class="form-horizontal">
	<div class="control-group"></div>
</form>

<div class="alert alert-info" style="width: 850px; margin-left: 0px;" ng-show="appList.length == 0">No application in database</div>
<div class="alert alert-danger" style="width: 800px; margin-left: 0px;margin-top : 10px;" ng-show="messageStatus !=null">{{messageStatus}}</div>
<table class="table table-bordered table-striped" style="width: 850px; margin-left: 0px;" ng-show="appList.length > 0">
	<thead>
		<tr>
			<th style="text-align: center;">Name App</th>
			<th style="text-align: center;">Description</th>
			<th style="text-align: center;">Date creation</th>
			<th style="text-align: center;">Purge stat</th>
			<th style="text-align: center;">Delete application</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="app in appList" >
			<td style="text-align: center;">{{app.nameApp}}</td>
			<td style="text-align: center;">{{app.description}}</td>
			<td style="text-align: center;">{{app.dateCreation}}</td>
			<td style="text-align: center;"><button class="btn btn-danger" ng-click="purgeStatByToken(app.token,app.nameApp)">stat</button></td>
			<td style="text-align: center;"><button class="btn btn-danger" ng-click="deleteThunderAppByToken(app.token,app.nameApp)">{{app.nameApp}}</button></td>
		</tr>
	</tbody>
</table>
