.page-content {
	/* background-color:#222; */

 	background-image:url("../../images/bg_sidebar.png");
  background-size:200px;
   background-repeat: no-repeat;

}

.navbar .logo-box {
background : none;
}

.navbar .logo-box a {
    color: #111;
    font-size:24px;
} 

.navbar .logo-box a span {
    font-size:32px;
	
}

.page-title h3 {
	color:#A0000F;
}

.sidebar {
	/* background-color:#222; */
	  
	
}

.sidebar-header {
	/* background-color:#222; */
}

.sidebar-profile span small {
    color: #DDD;
}

.menu {
    
}

.menu.accordion-menu a {
    color: #DDD;
}

.menu.accordion-menu a:hover {
	background: none;
    color: #c74040;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
	background: none;
    color: #c74040;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu li.droplink:hover > a {
    background: #2B384E;
    color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
	/* background: #333; */
    color: #fff;
}

.menu.accordion-menu ul li a {
    color: #DDD;
}