
<div class="page-title">
	<h3>
		<span class="fa fa-search-plus"></span> Details of {{ms.appName}}
	</h3>
</div>
<div id="main-wrapper">


	<div class="row">
		<div class="col-lg-4 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sellsy"></span> Total entry point:
					</div>
					<span style="font-size: 32px">{{ms.totalStat}}</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sellsy"></span> Not tested:
					</div>

					<span style="font-size: 32px">{{ms.totalNoTest}}</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sellsy"></span> False positive:
					</div>
					<span style="font-size: 32px">{{ms.totalFalsePositive}}</span>
				</div>
			</div>
		</div>
	</div>

<!-- <div class="input-append"> -->
<!-- 	<select style="margin-left: 150px; width: 450px;" ng-model="token" -->
<!-- 		ng-options="valueApp.token as valueApp.nameApp+'-'+valueApp.token for valueApp in tokenlist"></select> -->
<!-- 	<button class="btn btn-primary" ng-disabled="!token" -->
<!-- 		ng-click="findByToken(token)">Filter by App Name</button> -->
<!-- </div> -->

<!-- <div class="alert alert-info" style="width: 850px; margin-left: 0px;" -->
<!-- 	ng-show="breakerlist.length == 0">No Log in database</div> -->

<table class="table table-bordered table-striped"

	ng-show="breakerlist.length > 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 250px;">Method input</th>
			<th style="text-align: center;">Token</th>
			<th style="text-align: center; width: 300px;">Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="breaker in breakerlist">
			<td style="text-align: center;">{{breaker.pathClassMethodName}}</td>
			<td style="text-align: center;">{{breaker.token}}</td>
			<td style="text-align: center;">{{breaker.dateIncoming}}</td>
		</tr>
	</tbody>
</table>

</div>