
<div class="page-title">
	<h3 class="fa fa-home">Home</h3>
</div>
<div id="main-wrapper">
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-cloud"></span> Applications:
					</div>
					<span style="font-size: 32px">{{numberApplications}}</span>
				</div>
			</div>
			
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sign-in"></span> Total entry Points:
					</div>

					<span style="font-size: 32px">{{numberEntriesPoint}}</span>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div id="apps_stat"></div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div id="apps_type"></div>
		</div>
	</div>

</div>
