
<div class="page-title">
	<h3>
		<span class="fa fa-bar-chart"></span> Statistics of {{ms.appName}}
	</h3>
</div>
<div id="main-wrapper">



	<form class="form-horizontal">
		<div class="control-group"></div>
	</form>

	<div class="alert alert-info" ng-show="ms.listThunderStat.length == 0">No
		statistics in database</div>

	<div class="alert alert-danger"
		style="width: 800px; margin-left: 0px; margin-top: 10px;"
		ng-show="messageConfig !=null">{{messageConfig}}</div>


	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sellsy"></span> Total entry point:
					</div>
					<span style="font-size: 32px">{{ms.totalStat}}</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sellsy"></span> Not tested:
					</div>

					<span style="font-size: 32px">{{ms.totalNoTest}}</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="panel  panel-white">
				<div class="panel-body">
					<div style="font-size: 18px">
						<span class="fa fa-sellsy"></span> False positive:
					</div>
					<span style="font-size: 32px">{{ms.totalFalsePositive}}</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div>
			<a class="btn" href="" ng-click="updateToken()" style="font-size:18px">
				  <i class="fa fa-refresh"></i> Update</a>
			<br />
				<a class="btn" href="" ng-click="launchAnalysis(ms.token)"  style="font-size:18px">
				  <i class="fa fa-eye"></i> Launch
				analysis</a>
			
			
		</div>
	</div>

	<table class="table table-bordered table-striped"
		ng-show="ms.listThunderStat.length > 0">
		<thead>
			<tr>
				<th style="text-align: center;">Method input</th>
				<th style="text-align: center;">Name App</th>
				<th style="text-align: center;">Uri</th>
				<th style="text-align: center;">Http Method</th>
				<th style="text-align: center;">Count</th>
				<th style="text-align: center;">False Positive</th>
				<th style="text-align: center;">Change Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="stat in ms.listThunderStat"
				ng-style="set_color(stat.falsePositive,stat.count)">
				<td style="text-align: center;"><a
					href="#/thundersource/{{ms.token}}/{{stat.pathClassMethodName}}"
					target="_blank">{{stat.pathClassMethodName}}</a></td>
				<td style="text-align: center;">{{stat.thunderApp.nameApp}}</td>
				<td style="text-align: center;">{{stat.uri}}</td>
				<td style="text-align: center;">{{stat.httpmethod}}</td>
				<td style="text-align: center;">{{stat.count}}</td>
				<td style="text-align: center;">
				
				<div ng-show="stat.falsePositive">yes</div>
				<td style="text-align: center;">
				<div ng-show="stat.falsePositive">
					<a class="fa fa-exclamation-triangle"
						ng-click="updateThunderStatFalsePositive(stat.id,true,stat.pathClassMethodName)"> restore as positive</a>
				</div>
				
				
				
				<div ng-show="!stat.falsePositive">
					<a class="fa fa-trash-o"
						ng-click="updateThunderStatFalsePositive(stat.id,fasle,stat.pathClassMethodName)"> set as false positive</a>
				</div>
				
				</td>		
			</tr>
		</tbody>
	</table>
	
</div>