<div>
    <h2 data-translate="h2HellUiApp.userPermission.home.title">User Permissions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-permission.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="h2HellUiApp.userPermission.home.createLabel">
                        Create new User Permission
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="h2HellUiApp.userPermission.permission">Permission</span></th>
                    <th><span data-translate="h2HellUiApp.userPermission.projects">Projects</span></th>
                    <th><span data-translate="h2HellUiApp.userPermission.team">Team</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userPermission in vm.userPermissions track by userPermission.id">
                    <td><a ui-sref="user-permission-detail({id:userPermission.id})">{{userPermission.id}}</a></td>
                    <td data-translate="{{'h2HellUiApp.Permission.' + userPermission.permission}}">{{userPermission.permission}}</td>
                    <td>
                        <span ng-repeat="projects in userPermission.projects">
                            <a class="form-control-static" ui-sref="application-detail({id: projects.id})">{{projects.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="team-detail({id:userPermission.team.id})">{{userPermission.team.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-permission-detail({id:userPermission.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-permission.edit({id:userPermission.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-permission.delete({id:userPermission.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
