<div>
    <h2 translate="h2HellUiApp.team.home.title">Teams</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="team.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="h2HellUiApp.team.home.createLabel">
                        Create new Team
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="h2HellUiApp.team.name">Name</span></th>
                    <th><span translate="h2HellUiApp.team.members">Members</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in vm.teams track by team.id">
                    <td><a ui-sref="team-detail({id:team.id})">{{team.id}}</a></td>
                    <td>{{team.name}}</td>
                    <td>
                        <span ng-repeat="members in team.members">
                            {{members.login}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="team-detail({id:team.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team.edit({id:team.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="team.delete({id:team.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
