<div ng-cloak>

    <div class="row" ng-if="vm.isAuthenticated()===true">
        <div class="col-lg-3 col-md-3">
            <div class="panel  panel-white">
                <div class="panel-body">
                    <div style="font-size: 18px">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Applications:
                    </div>
                    <span style="font-size: 32px" class="ng-binding">{{vm.entity.applicationsCount}}</span>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel  panel-white">
                <div class="panel-body">
                    <div style="font-size: 18px">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Total entry Points:
                    </div>

                    <span style="font-size: 32px" class="ng-binding">{{vm.entity.entrypointsCount}}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="row" ng-if="vm.isAuthenticated()==true">
        <div class="col-lg-8 col-md-8">
            <canvas id="apps_stat" class="chart chart-bar"
                    chart-data="vm.entity.stats.data" chart-labels="vm.entity.stats.labels" chart-series="vm.entity.stats.series">
            </canvas>
        </div>
        <div class="col-lg-4 col-md-4">
            <canvas id="apps_type" class="chart chart-doughnut"
                    chart-data="vm.entity.types.data" chart-labels="vm.entity.types.labels">
            </canvas>
        </div>
    </div>

    <div class="row" ng-if="vm.isAuthenticated()!==true">
        <div class="alert alert-danger" role="alert">
            <p>Please Sign In</p>
        </div>
    </div>

</div>
