
<form class="form-horizontal">
	<div class="control-group"></div>
</form>

<div class="alert alert-info" style="width: 850px; margin-left: 0px;" ng-show="ms.listThunderStat.length == 0">No statistics in	database</div>
<button class="btn btn-primary" style="width: 150px; margin-left: 250px;" ng-click="updateToken()">Update</button>
<button class="btn btn-danger"	ng-click="launchAnalysis(ms.token)">Launch Analysis</button>
<div class="alert alert-danger" style="width: 800px; margin-left: 0px;margin-top : 10px;" ng-show="messageConfig !=null">{{messageConfig}}</div>
<table class="table table-bordered table-striped" style="width: 850px; margin-left: 0px;margin-top : 10px;">
	<tr>
		<td style="text-align: center; width: 280px;">Total entry point : {{ms.totalStat}}</td>
		<td style="text-align: center; width: 280px;">Total entry point not tested : {{ms.totalNoTest}}</td>
		<td style="text-align: center; width: 280px;">Total entry point false positive : {{ms.totalFalsePositive}}</td>
	</tr>
</table> 
<table class="table table-bordered table-striped" style="width: 850px; margin-left: 0px;" ng-show="ms.listThunderStat.length > 0">
	<thead>
		<tr>
			<th style="text-align: center;">Method input</th>
			<th style="text-align: center;">Name App</th>
			<th style="text-align: center;">Uri</th>
			<th style="text-align: center;">Http Method</th>
			<th style="text-align: center;">Count</th>
			<th style="text-align: center;">False Positive</th>
			<th style="text-align: center;">Change Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="stat in ms.listThunderStat" ng-style="set_color(stat.falsePositive,stat.count)">
			<td style="text-align: center;"><a href="#/thundersource/{{ms.token}}/{{stat.pathClassMethodName}}" target="_blank">{{stat.pathClassMethodName}}</a></td>
			<td style="text-align: center;">{{stat.thunderApp.nameApp}}</td>
			<td style="text-align: center;">{{stat.uri}}</td>
			<td style="text-align: center;">{{stat.httpmethod}}</td>
			<td style="text-align: center;">{{stat.count}}</td>
			<td style="text-align: center;"><input ng-disabled="true" type="checkbox" ng-model="stat.falsePositive" /></td>
			<td style="text-align: center;"><button class="btn btn-primary" ng-click="updateThunderStatFalsePositive(stat.id,stat.falsePositive,stat.pathClassMethodName)">FalsePositive</button></td>
		</tr>
	</tbody>
</table>
